body {
	font-family: Arial, sans-serif;	
}

.axis {
	path.domain {
		fill: none;
		stroke: black;
	}
}

.color-0 {fill:#1f77b4}
.color-1 {fill:#aec7e8}
.color-2 {fill:#ff7f0e}
.color-3 {fill:#ffbb78}
.color-4 {fill:#2ca02c}
.color-5 {fill:#98df8a}
.color-6 {fill:#d62728}
.color-7 {fill:#ff9896}
.color-8 {fill:#9467bd}
.color-9 {fill:#c5b0d5}
.color-10 {fill:#8c564b}
.color-11 {fill:#c49c94}
.color-12 {fill:#e377c2}
.color-13 {fill:#f7b6d2}
.color-14 {fill:#7f7f7f}
.color-15 {fill:#c7c7c7}
.color-16 {fill:#bcbd22}
.color-17 {fill:#dbdb8d}
.color-18 {fill:#17becf}
.color-19 {fill:#9edae5}